* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   
}

body {
   background: white;
   font-family: 'Montserrat', sans-serif;
   line-height: 1.8;
}

.um2 {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}

a {
   color: rgb(44, 44, 44);
}

.header {
   background: white;
   background-color: white;
   position: absolute;
   width: 100%;
   padding-top: 10px;
   z-index: 0;
}

.header ul {
   list-style: none;
   overflow: hidden;
}

.header ul a {
   display: block;
   
   padding: 20px;
   

   border-right: 1px solid rgba(255, 255, 255, 0.635);

   text-decoration: none;
}

.header ul a:hover {
   background: whitesmoke;
   color: black;
}


/* Logo */

.header .logo {
   display: block;
   float: left;
   font-size: 1.9em;
   padding: 0px 15px;
   border-radius: 30px;
   border-top: solid 2px #fec267;
   
   text-decoration: none;
   padding-top: 2px;
   padding-bottom: 2px;

}


.header .menu {
   clear: both;
   max-height: 0;
   background-color: white;
   
   transition: max-height .2s ease-out;
}

/* HAMBURGER FORMATION
This will act as container (label containing span)
Hence position relative */
.header .menu-burger {
   border: 1px solid transparent;
   border-radius: 8px ;
   padding-right: 8px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 12px;
   margin: 10px 25px;
   
   float: right;
   position: relative;

   cursor: pointer;
}

.header .menu-burger .nav-burger { 
   background: rgb(105, 105, 105);
   display: block;
   height: 2px;
   width: 25px;
   position: relative;

   transition: .2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::before {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 6px;
   
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::after {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: -6px;
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-button {
   display: none;

}

/* this is where magic of popping out menu happens */
.header input:checked ~ .menu {
   max-height: 380px;
   padding-bottom: 900px;
   transition: .5s;
   
}
.header input:checked ~ .header .um2 {
   height: 100%;
}
.header input:checked ~ .menu-burger .nav-burger {
   background: transparent;
   
}

.header input:checked ~ .menu-burger .nav-burger::before {
   transform: rotate(45deg);
   top: 0;
   width: 20px;
}

.header input:checked ~ .menu-burger .nav-burger::after {
   top: 0;
   transform: rotate(-45deg);
   width: 20px;
}


@media screen and (min-width: 750px) {
   .header li {
     float: left;
       
   }

   .header li a {
       padding: 10px 30px;
   }

   .header .menu {
       clear: none;
       float: right;
       max-height: none;
   }

   .header .menu-burger  {
       display: none;
   }

}

/* This is where style for body starts */
/* homepage's background picture */
.hero {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   /* the above controls width */

   /* background-color: rgba(0, 0, 0, 0.286); */
   background-image: url(./resources/blur.jpg);
   color: rgb(60, 60, 60);
   border-radius: 20px;
   background-size: cover;
   letter-spacing: 2px;
   background-blend-mode: multiply;

   text-align: center;
   padding-top: 50px;
   padding-bottom: 120px;
}

/* Customizing homapage image texts */

.hero h1 {
   font-weight: 900;
   font-size: 45px;
   
   
}

.hero p {
   font-weight: normal;
   font-size: 17px;

   padding: 5px 0px;
}

/* search customization */

.search {
	display: flex;
	flex-direction: column;
   padding-top: 10px;
   align-items: center;
}

.search input {
	border: none;
	height: 30px;
	border-radius: 3px;
	font-size: 14px;
   color: rgb(46, 46, 46);
   width: 140px;
}

input::placeholder {
   color: rgb(207, 207, 207);
}


form input:focus {
	outline: none;
}
/* ender of search customization */

/* Data Selection Customization */

.date {
   padding-top: 10px;
}
.date input {
   border: none;
	height: 30px;
	border-radius: 3px;
	
   
   font-size: 13px;
   
   color: gray;
   
}

.container {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}


/* 3 boxes describing benefits style */

.boxcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr auto;
   background-color: rgba(255, 255, 255);
   box-shadow: -1px 4px 14px -12px rgba(0, 0, 0, 0.92);
   border-radius: 20px;
   gap: 1%;
   font-size: 17px;

   max-width: 680px;

   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   
   position: relative;
   top: 9.7rem;
}

.boxcontainer span {
   background-color: rgb(229, 229, 229);
   border-radius: 40px;
   padding: 2px;
   margin-left: 6px;
  
}

.box {
   /* background-color: red; */
   color: rgb(68, 68, 68);
   border-right: solid 2px#fec267;
}


.explorebutton button{
   font-size: 16px;
   background-color: #fec267;
   color: rgb(68, 68, 68);;
   border: none;
   border-radius: 10px;
   padding: 26px 15px;
}

.box b {
   /* padding: 10px 10px; */
}

/* showcase part of the website tap 3 activities to do */

.showcasetitle {
   text-align: center;
   color: rgb(60, 87, 110);
   /* below keeps content contained in place */
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 10rem;
}

.showcasetitle p {
   text-align: center;
   color: rgb(60, 87, 110);

   max-width: 350px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 1rem;
   margin-bottom: 4rem;
}

.boxshow {
   border-radius: 4px;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30);
   transition: 0.4s;
   cursor: pointer;
}


.boxshow:hover{
   transform: translate(0, -2px);
}

.boxshowcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1.5%;

   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 1rem;

   margin-bottom: 1rem;
}


.boxshow1 {
   background-color: aliceblue;
   background-image: url(./resources/miller.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;
   padding-top: 35%;
   padding-bottom: 35%;

   /* so it applies of the top side of image */
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;

}



.boxshow2 {
   background-color: aliceblue;
   background-image: url(./resources/space.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;


   padding-top: 35%;
   padding-bottom: 35%;

   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.boxshow3 {
   background-color: aliceblue;
   background-image: url(./resources/zoo.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;


   padding-top: 35%;
   padding-bottom: 35%;

   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
/* second part of showcase cards */

.boxshow4 {
   background-color: aliceblue;
   background-image: url(./resources/aquarium.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;
   padding-top: 35%;
   padding-bottom: 35%;

   /* so it applies of the top side only */
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;

}



.boxshow5 {
   background-color: aliceblue;
   background-image: url(./resources/corner.jpeg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;


   padding-top: 35%;
   padding-bottom: 35%;

   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.boxshow6 {
   background-color: aliceblue;
   background-image: url(./resources/goode.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;


   padding-top: 35%;
   padding-bottom: 35%;

   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
/* time to customize the text inside the showcase boxes */


.boxshow h2 {
   padding: 10px 10px;
   text-align: left;
   font-size: 20px;
   
}

.boxshow p {
   padding: 0px 10px;
   padding-bottom: 20px;
   color: rgb(60, 87, 110);
   font-size: 15px;
}

.exploremorebutton {
   padding: 12px 18px;
   background-color: white;
   font-size: 15px;
   font-weight: bold;
   color: rgb(60, 87, 110);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.32);
   
   margin-bottom: 1rem;

   border: none;
   border-radius: 3px;

   cursor: pointer;
   transition: 0.3s;
}

.exploremorebutton:hover {
   transform: scale(1.022);
}

.buttoncontainer {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 1rem;
}