* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   
}

body {
   background: white;
   font-family: Arial, Helvetica, sans-serif;
}

.um2 {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}

a {
   color: rgb(44, 44, 44);
}

.header {
   background: white;
   /* box-shadow: 1px 1px 4px rgb(195, 195, 195); */

  position: fixed;
   width: 100%;

   z-index: 3;
}

.header ul {
   list-style: none;
   overflow: hidden;
}

.header ul a {
   display: block;
   
   padding: 20px;
   

   border-right: 1px solid rgba(255, 255, 255, 0.635);

   text-decoration: none;
}

.header ul a:hover {
   background: whitesmoke;
   color: black;
}


/* Logo */

.header .logo {
   display: block;
   float: left;
   font-size: 1.5em;
   padding: 18px 0px;

   text-decoration: none;
   color: rgb(52, 52, 52);
}


.header .menu {
   clear: both;
   max-height: 0;
   background-color: white;
   padding-bottom: 0;

   transition: padding-bottom .2s ease-out;
   transition: max-height .2s ease-out;
}

/* HAMBURGER FORMATION
This will act as container (label containing span)
Hence position relative */
.header .menu-burger {
   border: 1px solid transparent;
   border-radius: 8px ;
   padding: 18px 8px;
   padding-left: 13px;
   margin: 10px 25px;
   
   float: right;
   position: relative;

   cursor: pointer;
}

.header .menu-burger:hover {
   background-color: whitesmoke;
}


.header .menu-burger .nav-burger { 
   background: rgb(105, 105, 105);
   display: block;
   height: 2px;
   width: 25px;
   position: relative;

   transition: .2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::before {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 6px;
   
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::after {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: -6px;
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-button {
   display: none;

}

/* this is where magic of popping out menu happens */
.header input:checked ~ .menu {
   max-height: 180px;
   padding-bottom: 20px;
   transition: .3s;
   
}
.header input:checked ~ .header .um2 {
   height: 100%;
}
.header input:checked ~ .menu-burger .nav-burger {
   background: transparent;
   
}

.header input:checked ~ .menu-burger .nav-burger::before {
   transform: rotate(45deg);
   top: 0;
   width: 20px;
}

.header input:checked ~ .menu-burger .nav-burger::after {
   top: 0;
   transform: rotate(-45deg);
   width: 20px;
}


@media screen and (min-width: 750px) {
   .header li {
     float: left;
       
   }

   .header li a {
       padding: 20px 30px;
   }

   .header .menu {
       clear: none;
       float: right;
       max-height: none;
   }

   .header .menu-burger  {
       display: none;
   }

}

/* This is where style for body starts */
/* homepage's background picture */
.hero {
   
   background-color: rgb(132, 132, 132);
   background-image: url(./resources/HOU_996_554-scaled.jpg);
   color: white;
   /* text-shadow: 0px 0px 2px rgb(0, 0, 0); */
   font-size: 25px;
   background-size: cover;
   letter-spacing: 2px;
   background-blend-mode: multiply;

   padding-top: 150px;
   padding-bottom: 150px;
}

.container {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}


/* 3 boxes describing benefits style */

.boxcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1rem;

   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 1rem;
}

.box {
   background-color: rgb(231, 236, 242);
   padding: 60px 0px;
   border-radius: 14px;

   color: rgb(91, 91, 91);
}

/* showcase part of the website tap 4 activities to do */

.showcasetitle {
   text-align: center;
   /* below keeps content contained in place */
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 2rem;
}

.boxshow {
   border-radius: 7px;
   box-shadow: 0px 0px 7px rgb(132, 132, 132);
}

.boxshowcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1rem;

   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
   margin-top: 1rem;

   margin-bottom: 10rem;
}

.boxshow1 {
   background-color: aliceblue;
   background-image: url(./resources/theater.jpg);
   background-size: cover;
   padding-top: 100px;
   padding-bottom: 100px;

   /* so it applies of the top side only */
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;

}

.boxshow2 {
   background-color: aliceblue;
   background-image: url(./resources/nasa.jpg);
   background-size: cover;
   padding-top: 100px;
   padding-bottom: 100px;

   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}

.boxshow3 {
   background-color: aliceblue;
   background-image: url(./resources/zoo.jpg);
   background-size: cover;
   padding-top: 100px;
   padding-bottom: 100px;

   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
}



