* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   
}

body {
   background: white;
   font-family: Arial, Helvetica, sans-serif;
}


a {
   color: rgb(143, 143, 143);
}

.header {
   background: white;
   box-shadow: 1px 1px 4px rgb(195, 195, 195);

   position: fixed;
   width: 100%;
   
   z-index: 3;
}

.header ul {
   list-style: none;
   overflow: hidden;
}

.header ul a {
   display: block;
   
   padding: 20px;
   

   border-right: 1px solid rgba(255, 255, 255, 0.635);

   text-decoration: none;
}

.header ul a:hover {
   background: whitesmoke;
   color: black;
}


/* Logo */

.header .logo {
   display: block;
   float: left;
   font-size: 1.5em;
   padding: 18px 30px;

   text-decoration: none;
   color: rgb(52, 52, 52);
}


.header .menu {
   clear: both;
   max-height: 0;
   background-color: white;
   padding-bottom: 0;

   transition: padding-bottom .2s ease-out;
   transition: max-height .2s ease-out;
}

/* HAMBURGER FORMATION
This will act as container (label containing span)
Hence position relative */
.header .menu-burger {
   border: 1px solid transparent;
   border-radius: 8px ;
   padding: 18px 8px;
   padding-left: 13px;
   margin: 10px 25px;
   
   float: right;
   position: relative;

   cursor: pointer;
}

.header .menu-burger:hover {
   background-color: whitesmoke;
}


.header .menu-burger .nav-burger { 
   background: black;
   display: block;
   height: 2px;
   width: 25px;
   position: relative;
   transition: .2s ease-out;
}

.header .menu-burger .nav-burger::before {
   content: '';
   display: block;
   background: black;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 6px;
   
   transition: all 0.2s ease-out;
}

.header .menu-burger .nav-burger::after {
   content: '';
   display: block;
   background: black;
   position: absolute;
   height: 100%;
   width: 100%;
   top: -6px;
   transition: all 0.2s ease-out;
}

.header .menu-button {
   display: none;

}

/* this is where magic of popping out menu happens */
.header input:checked ~ .menu {
   max-height: 380px;
   padding-bottom: 900px;
   transition: .3s;
   
}
.header input:checked ~ .header .um2 {
   height: 100%;
}
.header input:checked ~ .menu-burger .nav-burger {
   background: transparent;
   
}

.header input:checked ~ .menu-burger .nav-burger::before {
   transform: rotate(45deg);
   top: 0;
   width: 20px;
}

.header input:checked ~ .menu-burger .nav-burger::after {
   top: 0;
   transform: rotate(-45deg);
   width: 20px;
}


@media screen and (min-width: 900px) {
   .header li {
     float: left;
       
   }

   .header li a {
       padding: 20px 30px;
   }

   .header .menu {
       clear: none;
       float: right;
       max-height: none;
   }

   .header .menu-burger  {
       display: none;
   }

}