* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   
}

:root {
   --primary-color: #ee6c4d;
   --seondary-color: #f3f7fc;
   --grayblack: rgb(28, 28, 28);
   --textcolor: #313131;
   --textcolor2: rgb(154, 154, 154);
   --white: white;
 } 

body {
   background: white;
   font-family: 'Nunito Sans', sans-serif;
   line-height: 1.7;

   padding-left: 1rem;
   padding-right: 1rem;

   max-width: 960px;
   margin-left: auto;
   margin-right: auto;

}

.um2 {
   max-width: 960px;
   margin-left: auto;
   margin-right: auto;
}

a {
   color: rgb(44, 44, 44);
}

.header {
   background: white;
   background-color: white;
   position: absolute;
   width: 100%;
   padding-top: 20px;
   z-index: 0;
}

.header ul {
   list-style: none;
   overflow: hidden;
}

.header ul a {
   display: block;
   
   padding: 20px;
   

   border-right: 1px solid rgba(255, 255, 255, 0.635);

   text-decoration: none;
}

.header ul a:hover {
   background: whitesmoke;
   color: black;
}


/* Logo */

.header button {
   display: block;
   float: left;
   font-size: 1.9em;
   padding: 15px 15px;
   border-radius: 30px;
   border: none;
   background-color: white;
   color: var(--primary-color);
   text-decoration: none;
   padding-top: 2px;
   padding-bottom: 2px;

}


.header .menu {
   clear: both;
   max-height: 0;
   background-color: white;
   
   transition: max-height .2s ease-out;
}

/* HAMBURGER FORMATION
This will act as container (label containing span)
Hence position relative */
.header .menu-burger {
   border: 1px solid transparent;
   border-radius: 8px ;
   padding-right: 8px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 12px;
   margin: 10px 25px;
   
   float: right;
   position: relative;

   cursor: pointer;
}

.header .menu-burger .nav-burger { 
   background: rgb(105, 105, 105);
   display: block;
   height: 2px;
   width: 25px;
   position: relative;

   transition: .2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::before {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 6px;
   
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-burger .nav-burger::after {
   content: '';
   display: block;
   background: rgb(52, 52, 52);
   position: absolute;
   height: 100%;
   width: 100%;
   top: -6px;
   transition: all 0.2s ease-out;

   border-radius: 17px;
}

.header .menu-button {
   display: none;

}

/* this is where magic of popping out menu happens */
.header input:checked ~ .menu {
   max-height: 380px;
   padding-bottom: 900px;
   transition: .5s;
   
}
.header input:checked ~ .header .um2 {
   height: 100%;
}
.header input:checked ~ .menu-burger .nav-burger {
   background: transparent;
   
}

.header input:checked ~ .menu-burger .nav-burger::before {
   transform: rotate(45deg);
   top: 0;
   width: 20px;
}

.header input:checked ~ .menu-burger .nav-burger::after {
   top: 0;
   transform: rotate(-45deg);
   width: 20px;
}


@media screen and (min-width: 750px) {
   .header li {
     float: left;
       
   }

   .header li a {
       padding: 10px 30px;
   }

   .header .menu {
       clear: none;
       float: right;
       max-height: none;
   }

   .header .menu-burger  {
       display: none;
   }

}

/* This is where style for body starts */
/* homepage's background picture */
.hero {
   background-color: #054367;
   background-image: url(./resources/home3.jpg);
   color: var(--grayblack);
   border-radius: 2px;
   background-size: cover;
   letter-spacing: 2px;
   background-blend-mode: luminosity;
   /* border: solid black 1px; */
   text-align: center;
   padding-top: 50px;
   padding-bottom: 120px;
   margin-bottom: 2rem;
}

/* Customizing homapage image texts */

.hero h1 {
   font-weight: 1000;
   font-size: 43px;
   text-align: left;
   color: var(--grayblack);
}

/* u {
   text-decoration-color: var(--primary-color);
   text-decoration-thickness: 5px;
} */

.hero p {
   font-weight: normal;
   font-size: 15px;
   text-align: left;
   padding: 5px 0px;
   color: var(--textcolor);
}

/* search customization */

.search {
	display: flex;
	flex-direction: column;
   padding-top: 5px;
   align-items: center;
}

.search input {
	border: none;
	height: 30px;
	border-radius: 3px;
	font-size: 14px;
   color: rgb(46, 46, 46);
   width: 140px;
}

input::placeholder {
   color: rgb(210, 210, 210);
}


form input:focus {
	outline: none;
}
/* ender of search customization */


.date {
   padding-top: 5px;
}
.date input {
   border: none;
	height: 30px;
	border-radius: 3px;
	
   
   font-size: 13px;
   
   color: rgb(132, 132, 132);
   
}



/* 3 boxes describing benefits style */

.boxcontainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr auto;
   background-color: rgba(255, 255, 255);
   box-shadow: -1px 4px 14px -12px rgba(0, 0, 0, 0.92);
   border-radius: 20px;
   gap: 1%;
   font-size: 16px;

   max-width: 680px;

   
   margin-right: auto;
   padding: 20px;
   
   position: relative;
   top: 6rem;
}

.box {
   /* background-color: red; */
   color: rgb(68, 68, 68);

}

.explorebutton button{
   font-size: 20px;
   background-color: var(--primary-color);
   color: var(--white);
   border: none;
   border-radius: 10px;
   padding: 15px 14px;

   cursor: pointer;
}

/* Random Text at the top */
.popular {
   text-align: center;
}

.randomtext {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 1%;
   margin-bottom: 1rem;
}
.randomtext div {
   font-size: 14px;
   color: var(--textcolor);
   background-color: #3d5a80;
   color: white;
   font-weight: normal;
   border-radius: 8px;
   text-align: center;
   padding: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.randomtext div:hover {
   background-color: var(--primary-color);
   color: white;
}
/* background showcase NEW */



#mainmodels {
   grid-template-columns: 1fr 1fr;
   margin-top: 3rem;
   margin-bottom: 7rem;
   gap: 2%;
   color: white;
   background-color: var(--seondary-color);
   
}
.boxshowmain {
   /* border-radius: 4px; */
   /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30); */
   transition: 0.4s;
   cursor: pointer;
   text-align: center;

}

.boxshow11 {
   
   background-image: url(./resources/guy.jpg);
   background-size: cover;
   
   padding-top: 80%;
   padding-bottom: 80%;
   font-size: 12px;
   
}


/* showcase part of the website tap 3 activities to do */

.showcasetitle {
   text-align: left;
   color: var(--grayblack);
   padding: 1rem;

}

.showcasetitle p {
   text-align: left;
   color: var(--textcolor);
   font-size: 15px;
   line-height: 2;
   margin-top: 1rem;
   margin-bottom: 4rem;
  
}

.boxshow {
   border-radius: 4px;
   
   transition: 0.4s;
   cursor: pointer;
}


.boxshow:hover{
   transform: scale(1.06);
}

.boxshowcontainer {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1.5%;

   margin-top: 1rem;
   margin-bottom: 1rem;
}


.boxshow1 {
   background-color: #2932411c;
   background-blend-mode: multiply;
   background-image: url(./resources/miller.jpg);
   background-size: contain;
   background-size: 150%;
   
   background-repeat: no-repeat;
   padding-top: 60%;
   padding-bottom: 60%;
   

   border-radius: 10px;

}


.boxshow2 {
   background-color: #29324171;
   background-blend-mode: multiply;
   background-image: url(./resources/space.jpg);
   background-size: contain;
   background-size: 150%;
   background-repeat: no-repeat;
   padding-top: 60%;
   padding-bottom: 60%;

   border-radius: 10px;
}

.boxshow3 {
   background-color: #2932415a;
   background-blend-mode: multiply;
   background-image: url(./resources/zoo.jpg);
   background-size: contain;
   background-size: 150%;
   background-repeat: no-repeat;
   padding-top: 60%;
   padding-bottom: 60%;

   border-radius: 10px;
}
/* second part of showcase cards */

.boxshow4 {
   background-color: aliceblue;
   background-image: url(./resources/aquarium.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;
   padding-top: 35%;
   padding-bottom: 35%;

   /* so it applies of the top side only */
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;

}



.boxshow5 {
   background-color: #2932413c;
   background-blend-mode: multiply;
   background-image: url(./resources/corner.jpeg);
   background-size: contain;
   background-size: 150%;
   background-repeat: no-repeat;
   padding-top: 60%;
   padding-bottom: 60%;
   border-radius: 10px;
}

.boxshow6 {
   background-color: aliceblue;
   background-image: url(./resources/goode.jpg);
   background-size: contain;
   background-size: 100%;
   background-repeat: no-repeat;


   padding-top: 35%;
   padding-bottom: 35%;

   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
/* time to customize the text inside the showcase boxes */


.boxshow h2 {
   padding: 10px 10px;
   text-align: left;
   font-size: 16px;
   color: var(--textcolor);
   
}

.boxshow p {
   padding: 0px 10px;
   padding-bottom: 20px;
   color: var(--textcolor2);
   font-size: 13px;
}

.exploremorebutton {
   padding: 10px 16px;
   background-color: white;
   font-size: 14px;
   color: var(--textcolor2);
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
   margin-bottom: 1rem;

   border: none;
   border-radius: 7px;

   cursor: pointer;
   transition: 0.3s;
}

.exploremorebutton:hover {
   transform: scale(1.022);
   color: var(--textcolor);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.seemore {
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
   padding: 0px;

   margin-top: 3rem;
}

hr {
   border: none;
   background-color: whitesmoke;
   height: 2px;
}